# All Environments
envs/*/

# Except template_env
!envs/template_env/

# Dont include template .terraform directory
envs/template_env/*/.terraform

personal.md

scripts/ignore/*
a_root/mix/modules/packer/ignore/*
*WIP*
