#!/bin/bash

DOMAIN=${fqdn}
WEBROOT=/var/www/html
DRY_RUN=${dry_run}

RENEW=(sudo certbot certonly --webroot --expand --non-interactive --agree-tos --email ${email} -w $WEBROOT -d $DOMAIN)

%{ for APP in app_definitions }
CREATE_SSL=${APP["create_ssl_cert"]};
CREATE_DEV=${APP["create_dev_dns"]};

if [ "$CREATE_SSL" = "true" ]; then
    RENEW+=(-d ${APP["subdomain_name"]}.${fqdn})

    if [ "$CREATE_DEV" = "true" ]; then
        RENEW+=(-d ${APP["subdomain_name"]}.beta.${fqdn})
    fi
fi
%{ endfor }


%{ for APP in additional_ssl }
CREATE_SSL=${APP["create_ssl_cert"]};
CREATE_DEV=${APP["create_dev_dns"]};

if [ "$CREATE_SSL" = "true" ]; then
    RENEW+=(-d ${APP["subdomain_name"]}.${fqdn})

    if [ "$CREATE_DEV" = "true" ]; then
        RENEW+=(-d ${APP["subdomain_name"]}.beta.${fqdn})
    fi
fi
%{ endfor }


if [ "$DRY_RUN" = "true" ]; then
    RENEW+=(--dry-run)
fi
