%{for APP in app_definitions}
#### ===== APP ====

# Name: Backup ${APP.repo_name}
MAILTO="root"
SHELL="/bin/bash"
HOME="/root"
5 */4 * * * bash $HOME/repos/${APP.repo_name}/${APP.backupfile} -b ${aws_bucket_name} -r ${aws_bucket_region} >> /dev/null 2>>$HOME/code/logs/errors.log

#### =========

%{endfor}
