#### ===== PG DB =====
%{ for DB in pg_dbs }

# Name: Backup '${DB.name}' PG DB
SHELL="/bin/bash"
HOME="/root"
${DB.backups_enabled ? "" : "#"}0 22 * * 1,2,3,4,5 bash $HOME/code/scripts/db/backupPG.sh -a ${s3alias} -b ${s3bucket} -d ${DB.name} >> /dev/null 2>>$HOME/code/logs/errors.log

# Name: Remove '${DB.name}' PG Backups
SHELL="/bin/bash"
HOME="/root"
${DB.backups_enabled ? "" : "#"}0 2 * * 6 bash $HOME/code/scripts/db/removeDBBackups.sh -d ${DB.name} >> /dev/null 2>>$HOME/code/logs/errors.log

%{ endfor }

# Name: Run PSQL function
SHELL="/bin/bash"
HOME="/root"
${length(pg_dbs) > 0 && pg_fn != "" ? "" : "#"}0 3 * * 5 bash $HOME/code/scripts/db/runPgFunction.sh -d ${length(pg_dbs) > 0 ? pg_dbs[0] : ""} -f "${pg_fn}" >> /dev/null 2>>$HOME/code/logs/errors.log

#### ==========
