#!/bin/bash

source /root/code/scripts/letsencrypt_vars.sh

sudo apt-get update
sudo apt-get install software-properties-common -y
sudo add-apt-repository ppa:certbot/certbot -y
sudo apt-get update
sudo apt-get install certbot -y

WEBROOT=/var/www/html
LETSENCRYPT_DIR=/etc/letsencrypt/live/$DOMAIN


if [[ ! -d $LETSENCRYPT_DIR ]] || [[ $RUN_FROM_CRON ]]; then

    docker run --name nginx \
        -v $WEBROOT:/usr/share/nginx/html:ro \
        -p 7080:80 \
        --rm \
        -d nginx

    "${RENEW[@]}"

    docker stop nginx
fi


KEY=$(<$LETSENCRYPT_DIR/privkey.pem)
FULLCHAIN=$(<$LETSENCRYPT_DIR/fullchain.pem)
CHAIN=$(<$LETSENCRYPT_DIR/chain.pem)

/usr/local/bin/consul kv put ssl/privkey "$KEY"
/usr/local/bin/consul kv put ssl/fullchain "$FULLCHAIN"
/usr/local/bin/consul kv put ssl/chain "$CHAIN"
