[Unit]
Description=Prometheus Node Exporter
After=network-online.target
Wants=network-online.target

[Service]
User=root
Restart=on-failure

ExecStart=/usr/local/bin/node_exporter

[Install]
WantedBy=multi-user.target
