# Name: Renew Letsencrypt
MAILTO="root"
SHELL="/bin/bash"
HOME="/root"
0 3 1,10,20 * * export RUN_FROM_CRON=true; bash $HOME/code/scripts/letsencrypt.sh >> $HOME/code/logs/letsencrypt.log 2>>$HOME/code/logs/errors.log

# Name: Backup Gitlab
MAILTO="root"
SHELL="/bin/bash"
HOME="/root"
${gitlab_backups_enabled ? "" : "#"}0 2 * * 0 bash /root/code/scripts/misc/backupGitlab.sh -r ${aws_bucket_region} -b ${aws_bucket_name}
