%{ for DBNAME in redis_dbs }

# Name: Backup '${DBNAME}' Redis DB
SHELL="/bin/bash"
HOME="/root"
${db_backups_enabled ? "" : "#"}0 22 * * 1,2,3,4,5 bash $HOME/code/scripts/db/backupRedis.sh -b ${aws_bucket_name} -r ${aws_bucket_region} -d ${DBNAME} >> /dev/null 2>>$HOME/code/logs/errors.log

# Name: Remove '${DBNAME}' Redis Backups
SHELL="/bin/bash"
HOME="/root"
${db_backups_enabled ? "" : "#"}0 2 * * 6 bash $HOME/code/scripts/db/removeDBBackups.sh -d ${DBNAME} >> /dev/null 2>>$HOME/code/logs/errors.log

%{ endfor }
