{% for subdomain in domains[item] %}
server {
    listen 80;
    server_name {{ (subdomain == "@") | ternary(item, subdomain+"."+item) }};

    location /.well-known/ {
        root /var/www/html;
        proxy_pass http://127.0.0.1:{{ cert_port }}$request_uri;
    }

    location / {
        ## This redirects to our redirect url currently.
        ## It will also redirect "A" and "CNAME" records to SSL but that is 
        ##   not configured outside this template at this time
        return 302 {{ (domains[item][subdomain] == "A" or domains[item][subdomain] == "CNAME" ) | ternary("https://$host:443$request_uri", domains[item][subdomain]) }};
    }
}
{% endfor %}
